<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Fly Emirates</title>
    <link rel="stylesheet" href="~/css/about.css">
</head>

<body>

    <section class="split" style="padding-top: 100px;">

        <div class="screen">

            <div class="content">

                <h2>Fly Emirates</h2>
                <p>
                    Fly Emirates the travel agency close to travelers, specialized in finding the latest offers for cheap air tickets and low cost flights to any destination with airport.
                </p>


            </div>
        </div>
        <div class="screen">
            <div class="content">
                <h2>Fly Emirates</h2>
                <p>
                    We are glad to know each other and share common passions: we love travel, comfort and promptness of tourism service providers with whom we have collaborated for many years, adventures and vacations with family or friends.
                </p>


            </div>
        </div>
        <div class="screen">
            <div class="content">
                <h2>Fly Emirates</h2>
                <p>
                    We are dynamic, we use a solid technology, which verifies and compares a multitude of offers updated in real time, and we carefully follow the feedback of our clients, because, together with Puc, our friendly mascot, we form a community of long-term united
                    tourism, based on an increasingly pleasant experience.
                </p>


            </div>

        </div>
        <div class="container1">
            <a href="index.html"><button class="btn">Back</button></a>
        </div>
    </section>
</body>
</html>