@{
    ViewData["Title"] = "Privacy Policy";
}

    <meta charset="utf-8">
    <title>Fly Emirates</title>
    <link rel="stylesheet" href="~/css/privacypolicy.css">





    <div class="BTNBACK">
        <a href="index.html"><button class="btn">BACK</button></a>
    </div>
    <div class="container ">

        <div class="card">


            <div class="details">
                <h2>Privacy Policy</h2>
                <p>
                    We look forward to the opportunity to act as your booking agent for your travel needs. Please read these Terms and Conditions carefully before using the services and website of airtickets.ie. When you use or make a booking on our site
                    you are deemed to have accepted these Terms and Conditions.
                </p>
            </div>
            <div class="imgBox">
                <img src="~/images/privacypolicycard.jpg">
            </div>
        </div>
    </div>

