<!DOCTYPE html>
<html>

<head>
    <title>Terms of use</title>
    <link rel="stylesheet" type="text/css" href="~/css/termsofuse.css">
</head>

<body>
    
        <div class="BTNBACK">
            <a href="index.html"><button class="btn"style="margin-top: 20px;">BACK</button></a>
        </div>
        <div class="terms" style="background-image:url('/images/termsofuse.jpg';)">
            <div class="shadow">
                <div class="details">
                    <h2>Terms of use</h2>
                    <p>
                        We look forward to the opportunity to act as your booking agent for your travel needs. Please read these Terms and Conditions carefully before using the services and website of airtickets.ie. When you use or make a booking on our site you
                        are deemed to have accepted these Terms and Conditions. These terms and Conditions describe what you are legally entitled to expect from us when you purchase travel related services through us, in addition to your obligations as a customer.
                    </p>
                </div>
            </div>

        </div>

</body>

</html>
